DEBUG=True
SECRET_KEY=django-insecure-change-me-in-prod
ALLOWED_HOSTS=127.0.0.1,localhost

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=no-reply@dristisewa.local

OTP_LENGTH=6
OTP_EXPIRY_MINUTES=5
